
body {
  padding-top: 3rem;
    padding-bottom: 3rem;
}

.top-layer {
  position: absolute;
  z-index: 1;
}

.legend {
  width: 15%;
  border-radius: 6px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.4);
}

.zoom-option {
  background-color: rgba(255, 255, 255, 0.40);
  border-radius: 4px;
}

.btn-zoom {
  width: 35px;
  font-size: 20px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

/* BULBS */
.bulb {
    width: 18px;
    height: 18px;
    border: 1px solid grey;
    border-radius: 50%;
    /* background-color: #dc3545; */
    position: absolute;
}

/* Combine to .bulb for positioning*/
.bulb.M-AT2 {
  position: absolute;
  top: 275px;
  left: 550px;
}

.bulb.MAT-P2-6 {
  position: absolute;
  top: 254px;
  left: 338px;
}
.bulb.MAT-P2-7 {
  position: absolute;
  top: 284px;
  left: 338px;
}
.bulb.MAT-P2-8 {
  position: absolute;
  top: 312px;
  left: 338px;
}

.bulb.PP2 {
  position: absolute;
  top: 512px;
  left: 530px;
}

.bulb.TP2 {
  position: absolute;
  top: 512px;
  left: 799px;
}
.bulb.TI601 {
  position: absolute;
  top: 410px;
left: 902px;
}

.bulb.M-JR2 {
  position: absolute;
  top: 284px;
  left: 832px;
}

.bulb.TI409 {
  position: absolute;
  top:84px;
  left: 820px;
}

.bulb.venting-fan {
  position: absolute;
  top: 228px;
  left: 735px;
}
.bulb.solid-hopper {
  position: absolute;
  top: 278px;
  left: 735px;
}

.bulb.TI701 {
  position: absolute;
  top: 422px;
  left: 622px;
}

/*Page 1*/

.bulb.M-AT3 {
  position: absolute;
  /* top: 275px; */
  top:  253px;
  left: 266px;
}
.bulb.M-M1 {
  position: absolute;
  top: 259px;
  left: 430px;
}

.bulb.TI801 {
  position: absolute;
  top: 398px;
  left: 343px;
}

.bulb.DP1 {
  position: absolute;
  top: 444px;
  left: 418px;
}
.bulb.DP2 {
  position: absolute;
  top: 444px;
  left: 443px;
}

.bulb.TI416 {
  position: absolute;
  top: 290px;
  left: 586px;
}
.bulb.M-JR3 {
  position: absolute;
  top: 255px;
  left: 668px;
}

.bulb.TI801-2 {
  position: absolute;
  top: 399px;
  left: 740px;

}

.bulb.TI901 {
  position: absolute;
  top: 388px;
  left: 1012px;
}

.bulb.PP3 {
  position: absolute;
  top: 495px;
  left: 219px;
}
.bulb.PP4 {
  position: absolute;
  top: 481px;
  left: 898px;
}

.bulb.M-JR4 {
  position: absolute;
  top: 245px;
  left: 931px;
}



/* BOXES */
.box {
  width: 35px;
  height: 21px;
  border: 1px solid grey;
  font-size: 10px;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  background-color: #ffffff80;
}


.dark .box {
border: 1px solid rgba(0, 220, 255, 0.78);
background-color: #495057;
color: white;
}

.FM02 {
  position: absolute;
  top: 213px;
  left: 385px;
}

.TI601 {
  position: absolute;
  top: 388px;
  left: 896px;
}
.TI409 {
  position: absolute;
  top: 62px;
  left: 814px;
}

/*Page 1*/
.TI801 {
  position: absolute;
  top: 374px;
  left: 335px;
}
.TI416 {
  position: absolute;
  top: 267px;
  left: 578px;
}
.TI801-2 {
  position: absolute;
  top: 374px;
  left: 731px;
}
.TI901 {
  position: absolute;
  top: 363px;
  left: 1003px;
}




/* texts */
.text-blue {
  /* font-weight: bold; */
  color: #007bff;
}

#example {
  padding: .25rem!important;
}


/*BACKGROUND COLORS*/
.bg-red {
  background-color: #dc3545;
}

.bg-green {
  background-color: #28a745;
}

.bg-blue {
  background-color: #007bff;
}

.bg-amber {
  background-color: #ff9007;
}

/* TOOLTIPS */


/*Version 1 - single Position
  - using only "data title=" tag on html. Eg :

  <div class="box TI409" data-title="Your text here">160.5....bla bla bla</div>

*/

[data-title] {
  position: relative;
  cursor: pointer;
}

[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  /* bottom: -28px; */
  bottom: 24px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #17b8d2;
  color: #fff;
  font-size: 12px;
  /* font-family: sans-serif; */
  white-space: nowrap;
  opacity: 1;
  transition-delay:1.0s;
}

[data-title]:hover::after {
  content: '';
  position: absolute;
  /* bottom: -5px; */
  bottom: 9px;
  left: 8px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-top: 8px solid #17b8d2;
  /* border-bottom: 8px solid #17b8d2; */
  opacity: 1;
  transition-delay:2s;
}


/*Version 2 : multiple position

- using "tooltip ="
e.g :
  <div class="box TI601" tooltip="Your text here">160.5.....bla bla bla</div>

- By default it positions on top, but to change you can specify using "tooltip-position" tag
- "tooltip-position" have 4 values : top, bottom, left & right
e.g :
  <div class="box TI601" tooltip="Your text here" tooltip-position="left">160.5.....bla bla bla</div>

*/

[tooltip] {
  /* margin: 20px 60px;
  position: relative;
  display: inline-block; */
  cursor: pointer;
}

[tooltip]::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg)
}

[tooltip-position='top']::before {
  left: 50%;
}

[tooltip-position='buttom']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg)
}

[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 99;
  opacity: 0;
}

[tooltip-position='left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}

[tooltip-position='top']::after {
  left: 50%;
}

[tooltip-position='buttom']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}

[tooltip-position='right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
  transition-delay: 1.0s;
  transition: all 0.5s;
}

.dark[tooltip]::before {
  border-color: #42e5ffb3 transparent transparent transparent;
}

.dark[tooltip]::after {
  background: #42e5ffb3;
}


/*end of TOOLTIPS*/

/*HIDE LEGEND*/


.trigger input[type="checkbox"] + span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.trigger input[type="checkbox"]:checked + span {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.msg {
  display: block;
  margin-top: 8px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
